<br/>
<br/>
<div class="row justify-content-around">
	<div class="col-md-4 mx-auto">
		<a class="btn btn-success btn-lg" style="width: 250px;" href="#" ng-click="vm.clickCliente(true)">
			<i class="far fa-thumbs-up"></i>
		    <b>Si, soy cliente</b><br>
		    <small>Proceder con BUC</small>
		</a>
	</div>
	<div class="col-md-4 mx-auto">
		<a class="btn btn-info btn-lg" style="width: 250px;" href="#" ng-click="vm.clickCliente(false)">
			<i class="far fa-id-card" ></i>
		    <b>Aun no soy cliente</b><br>
		    <small>Proceder con Nombre</small>
		</a>
	</div>
</div>