<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<div th:replace="fragments/base :: header-css" />
		<style type="text/css">
			.table{
				font-size: 0.75rem;
			}
			.table td{
				padding: 0.15rem;
			}
			.table th{
				text-align: center;
			}
			#wizard-step-container {
			  margin: 20px 0;
			}
			
			#wizard-content-container {
			  margin: 20px 0;
			}
			
			#wizard-navigation-container {
			  border-top: 1px solid #eee;
			  margin: 20px 0;
			  padding-top: 20px;
			}
			.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    
.clase a{ (estado off)
color: #ff0000;
}
.clase a:hover{ (estado rollover)
color:#ffcc00;
}
.clase a.seleccionado { (estado selección actual).
color:#000;
}
}
		</style>
	</head>
	<body ng-app="myApp" ng-controller="myCtrl">
	<div th:replace="fragments/base :: header" />
	<div class="wrapper wrapper-right" ng-class="{'toggled' : isActiveMenu, 'toggled-right' : !isActiveToggle}">
		<div th:replace="fragments/base :: menu" />
		
		<br/>
		 <div class="container-fluid" ng-show="initView">  
		
					<!-- COMLILI body -->
			<div class="col-md-12">	

					<div class="row">
						<div class="col-md-4 ">
							<a class="btn btn-primaryli btn-block" th:href="@{/comercio}" >
							    <b>1. COMERCIO</b><br>			    
							</a>
						</div>
						<div class="col-md-4 ">
							<a class="btn btn-primary btn-block"  th:href="@{/afiliacion}">
							    <b>2. AFILIACIÓN</b><br>
						</a>
						</div>
						<div class="col-md-4 ">
							<a class="btn btn-primaryli btn-block"  th:href="@{/campania}">
							    <b>3. CAMPAÑAS</b><br>
							</a>
						</div>
						</div>

					


      		  
			
					<br/>
			    <form th:object="${mst_afiliaciones}" th:action="@{/mst_afiliaciones}" method="get">
				    <div class="form-group">
				        <input type="text" style="width: 300px; height: 30px;" name="cod_afiliacion" id="cod_afiliacion" placeholder="Número de afiliación" th:value="${Search}" minlength="1" maxlength="20" required pattern="[0-9]+"/>
				        <input class="btn btn-danger" type="submit" value="Buscar"/>
					</div>
			    </form>	
			    <br/>
			    <hr/>
				<form action="#" th:action="@{/crearAfil}" th:object="${mst_afiliaciones}" method="post">
					<div th:if="${not #arrays.isEmpty(cod_afiliacion)}">
					<label for="exampleInputEmail1">DATOS DE AFILIACIÓN</label>
					<div class="row" ng-if="!vm.user.esCliente">
						<div class="col-md-4">	
							<div class="form-group">
							   <label for="cod_afiliacion">Número de Afiliación</label>
							   <input type="text" class="form-control" id="cod_afiliacion" name="cod_afiliacion" th:field="*{cod_afiliacion}" placeholder="Número de Afiliación" required="required">
							</div>
						</div>
						<div class="col-md-4">	
							<div class="form-group">
							   <label for="nom_afiliacion">Nombre de Afiliación</label>
							   <input type="text" class="form-control" id="nom_afiliacion" name="nom_afiliacion" th:field="*{nom_afiliacion}" placeholder="Nombre de Afiliación" required="required">
							</div>
						</div>
						<div class="col-md-4">	
							<div class="form-group">
							   <label for="cve_rfc_comercio">RFC del comercio asociado</label>
							   <input type="text" class="form-control" id="cve_rfc_comercio" name="cve_rfc_comercio" th:field="*{cve_rfc_comercio}" placeholder="RFC del comercio asociado" required="required">
							</div>
						</div>
						<!--<div class="col-md-4">	
							<div class="form-group">
								 <label for="exampleInputEmail1"></label>
								<button type="submit" class="btn btn-danger">Heredar datos de comercio</button>
							</div>
						</div>-->
					</div>
					<hr/>
					<!-- COMLILI falta cambiar nombre de las variables -->
					<label for="exampleInputEmail1">DATOS DE COBRO</label>
					<div class="row" ng-if="!vm.user.esCliente">
						<div class="col-md-4">	
							<div class="form-group">
							   <label for="num_cuenta_bancaria">Cuenta Bancaria</label>
							   <input type="text" class="form-control" id="num_cuenta_bancaria" name="num_cuenta_bancaria" th:field="*{num_cuenta_bancaria}" placeholder="Cuenta Bancara / Por facturación">
							</div>
						</div>
						<!--<div class="col-md-4">	
							<div class="form-group">
							   <label for="num_cuenta_clabe">Cuenta clabe</label>
							   <input type="text" class="form-control" id="num_cuenta_clabe" name="num_cuenta_clabe" th:field="*{num_cuenta_clabe}" placeholder="Cuenta de Banco/Por facturación">
							</div>
						</div>-->
					</div>
					<hr/>
					<!-- COMLILI falta cambiar nombre de las variables ""Tasa"-> nombre del operador-->
					<label for="exampleInputEmail1">ESQUEMAS</label>
					<div class="row" ng-if="vm.user.tipoCredito != 41">
						<div class="col-md-2">	
							<div class="form-group">
							  <label for="exampleInputEmail1"></label>
							   <select class="form-control" ng-model="vm.user.tipoTasa" ng-disabled="!vm.canTipoTasa" ng-change="vm.changeTipoTasa()">
							    	<option value="">Plazo</option>
							      	<option ng-repeat="tc in vm.catalogos.tipoTasa.records" value="{{tc.id}}">{{tc.descripcion}}</option>
							    </select>
							</div>
						</div>
						<div class="col-md-2">	
							<div class="form-group">
							   <label for="exampleInputEmail1"></label>
							   <select class="form-control" ng-model="vm.user.tipoTasa" ng-disabled="!vm.canTipoTasa" ng-change="vm.changeTipoTasa()">
							    	<option value="">Sobretasa</option>
							      	<option ng-repeat="tc in vm.catalogos.tipoTasa.records" value="{{tc.id}}">{{tc.descripcion}}</option>
							    </select>
							</div>
						</div>
						<div class="col-md-2">	
							<div class="form-group">
							   <label for="exampleInputEmail1"></label>
							   <select class="form-control" ng-model="vm.user.tipoTasa" ng-disabled="!vm.canTipoTasa" ng-change="vm.changeTipoTasa()">
							    	<option value="">Monto Min</option>
							      	<option ng-repeat="tc in vm.catalogos.tipoTasa.records" value="{{tc.id}}">{{tc.descripcion}}</option>
							    </select>
							</div>
						</div>
					</div>
					<hr/>
					<label for="exampleInputEmail1">CAMPAÑAS</label>
					<div class="row" ng-if="vm.user.tipoCredito != 41">
						<div class="col-md-2">	
							<div class="form-group">
							  <label for="exampleInputEmail1"></label>
							   <select class="form-control" ng-model="vm.user.tipoTasa" ng-disabled="!vm.canTipoTasa" ng-change="vm.changeTipoTasa()">
							    	<option value="">Nombre</option>
							      	<option ng-repeat="tc in vm.catalogos.tipoTasa.records" value="{{tc.id}}">{{tc.descripcion}}</option>
							    </select>
							</div>
						</div>
						<div class="col-md-2">	
							<div class="form-group">
							   <label for="exampleInputEmail1"></label>
							   <select class="form-control" ng-model="vm.user.tipoTasa" ng-disabled="!vm.canTipoTasa" ng-change="vm.changeTipoTasa()">
							    	<option value="">Fecha inicio</option>
							      	<option ng-repeat="tc in vm.catalogos.tipoTasa.records" value="{{tc.id}}">{{tc.descripcion}}</option>
							    </select>
							</div>
						</div>
						<div class="col-md-2">	
							<div class="form-group">
							   <label for="exampleInputEmail1"></label>
							   <select class="form-control" ng-model="vm.user.tipoTasa" ng-disabled="!vm.canTipoTasa" ng-change="vm.changeTipoTasa()">
							    	<option value="">Fecha fin</option>
							      	<option ng-repeat="tc in vm.catalogos.tipoTasa.records" value="{{tc.id}}">{{tc.descripcion}}</option>
							    </select>
							</div>
						</div>
					</div>
					<!--<div class="row justify-content-end">
					 COMLILI Calcular -> guardar 
						<div class="col-md-6" ng-if="vm.user.tipoCredito != 41">
							<button type="submit" class="btn btn-lg btn-danger btn-block">Guardar</button>
							<button  class="btn" name="next" type="button" ng-click="vm.limpiar()">Limpiar</button>
						</div>
					</div>-->
					<!-- COMLILI falta cambiar nombre de las variables ""Tasa"-> nombre del operador-->
					<div class="row" ng-if="vm.user.tipoCredito != 41">
						<div class="col-md-2">	
							<div class="form-group">
							    	<button type="submit" class="btn btn-danger">Guardar</button>
							</div>
						</div>
					</div>
				</div>	
			</form>
			<div class="row" ng-if="vm.user.tipoCredito != 41">
				<form th:object="${mst_afiliaciones}" th:action="@{/eliminarAfil}" method="get">
					 <div th:if="${not #arrays.isEmpty(cod_afiliacion)}">
					 	<div class="col-md-2">	
					    	<div class="form-group">
					        	<input type="hidden" style="width: 300px; height: 30px;" size=60 name="cod_afiliacion" id="cod_afiliacion" th:field="*{cod_afiliacion}"  placeholder="Codigo de la afiliacion" th:value="${Search}" required="required"/>
					        	<input class="btn btn-danger" type="submit" value="Eliminar"/>
							</div>
						</div>
				    </div>
				</form>
			 </div>
		<br/>
			
			
	<!-- *********************termina primer form, empieza form para crear un nuevo registro -->	
				<div th:if="${#arrays.isEmpty(cod_afiliacion)}">		
					<form action="#" th:action="@{/crearAfil}" th:object="${mst_afiliaciones}" method="post">
						<label for="exampleInputEmail1">DATOS DE AFILIACI&Oacute;N</label>
						<div class="row" ng-if="!vm.user.esCliente">
							<div class="col-md-4">	
								<div class="form-group">
								   <label for="cod_afiliacion">Número de Afiliación</label>
								   <input type="text" class="form-control" id="cod_afiliacion" name="cod_afiliacion" placeholder="N&uacute;mero de Afiliación">
								</div>
							</div>
							<div class="col-md-4">	
								<div class="form-group">
								   <label for="nom_afiliacion">Nombre de Afiliación</label>
								   <input type="text" class="form-control" id="nom_afiliacion" name="nom_afiliacion" placeholder="Nombre de Afiliación">
								</div>
							</div>
							<div class="col-md-4">	
								<div class="form-group">
								   <label for="cve_rfc_comercio">RFC del comercio asociado</label>
								   <input type="text" class="form-control" id="cve_rfc_comercio" name="cve_rfc_comercio" placeholder="RFC del comercio asociado">
								</div>
							</div>
							<!-- ><div class="col-md-4">	
								<div class="form-group">
									 <label for="exampleInputEmail1"></label>
									<button type="submit" class="btn btn-danger">Heredar datos de comercio</button>
								</div>
							</div> -->
						</div>
				
						<hr/>
						<!-- COMLILI falta cambiar nombre de las variables -->
						<label for="exampleInputEmail1">DATOS DE COBRO</label>
						<div class="row" ng-if="!vm.user.esCliente">
							<div class="col-md-4">	
								<div class="form-group">
								   <label for="num_cuenta_bancaria">Cuenta Bancaria</label>
								   <input type="text" class="form-control" id="num_cuenta_bancaria" name="num_cuenta_bancaria"placeholder="Cuenta Bancaria / Por facturación">
								</div>
							</div>
							<!-- <div class="col-md-4">	
								<div class="form-group">
								   <label for="num_cuenta_clabe">Cuenta clabe</label>
								   <input type="text" class="form-control" id="num_cuenta_clabe" name="num_cuenta_clabe" placeholder="Cuenta de Banco/Por facturación">
								</div> 
							</div> -->
						</div>
						
						<hr/>
					
						<!-- COMLILI falta cambiar nombre de las variables ""Tasa"-> nombre del operador-->
						<label for="exampleInputEmail1">ESQUEMAS</label>
						<div class="row" ng-if="vm.user.tipoCredito != 41">
							<div class="col-md-2">	
								<div class="form-group">
								  <label for="exampleInputEmail1"></label>
								   <select class="form-control" ng-model="vm.user.tipoTasa" ng-disabled="!vm.canTipoTasa" ng-change="vm.changeTipoTasa()">
								    	<option value="">Plazo</option>
								      	<option ng-repeat="tc in vm.catalogos.tipoTasa.records" value="{{tc.id}}">{{tc.descripcion}}</option>
								    </select>
								</div>
							</div>
							<div class="col-md-2">	
								<div class="form-group">
								   <label for="exampleInputEmail1"></label>
								   <select class="form-control" ng-model="vm.user.tipoTasa" ng-disabled="!vm.canTipoTasa" ng-change="vm.changeTipoTasa()">
								    	<option value="">Sobretasa</option>
								      	<option ng-repeat="tc in vm.catalogos.tipoTasa.records" value="{{tc.id}}">{{tc.descripcion}}</option>
								    </select>
								</div>
							</div>
							<div class="col-md-2">	
								<div class="form-group">
								   <label for="exampleInputEmail1"></label>
								   <select class="form-control" ng-model="vm.user.tipoTasa" ng-disabled="!vm.canTipoTasa" ng-change="vm.changeTipoTasa()">
								    	<option value="">Monto Min</option>
								      	<option ng-repeat="tc in vm.catalogos.tipoTasa.records" value="{{tc.id}}">{{tc.descripcion}}</option>
								    </select>
								</div>
							</div>
						</div>
						<hr/>
						<label for="exampleInputEmail1">CAMPAÑAS</label>
						<div class="row" ng-if="vm.user.tipoCredito != 41">
							<div class="col-md-2">	
								<div class="form-group">
								  <label for="exampleInputEmail1"></label>
								   <select class="form-control" ng-model="vm.user.tipoTasa" ng-disabled="!vm.canTipoTasa" ng-change="vm.changeTipoTasa()">
								    	<option value="">Nombre</option>
								      	<option ng-repeat="tc in vm.catalogos.tipoTasa.records" value="{{tc.id}}">{{tc.descripcion}}</option>
								    </select>
								</div>
							</div>
							<div class="col-md-2">	
								<div class="form-group">
								   <label for="exampleInputEmail1"></label>
								   <select class="form-control" ng-model="vm.user.tipoTasa" ng-disabled="!vm.canTipoTasa" ng-change="vm.changeTipoTasa()">
								    	<option value="">Fecha inicio</option>
								      	<option ng-repeat="tc in vm.catalogos.tipoTasa.records" value="{{tc.id}}">{{tc.descripcion}}</option>
								    </select>
								</div>
							</div>
							<div class="col-md-2">	
								<div class="form-group">
								   <label for="exampleInputEmail1"></label>
								   <select class="form-control" ng-model="vm.user.tipoTasa" ng-disabled="!vm.canTipoTasa" ng-change="vm.changeTipoTasa()">
								    	<option value="">Fecha fin</option>
								      	<option ng-repeat="tc in vm.catalogos.tipoTasa.records" value="{{tc.id}}">{{tc.descripcion}}</option>
								    </select>
								</div>
							</div>
						</div>
						<!--<div class="row justify-content-end">
						 COMLILI Calcular -> guardar 
							<div class="col-md-6" ng-if="vm.user.tipoCredito != 41">
								<button type="submit" class="btn btn-lg btn-danger btn-block">Guardar</button>
								<button  class="btn" name="next" type="button" ng-click="vm.limpiar()">Limpiar</button>
							</div>
						</div>-->
					
						<!-- COMLILI falta cambiar nombre de las variables ""Tasa"-> nombre del operador-->
						<div class="row" ng-if="vm.user.tipoCredito != 41">
							<div class="col-md-2">	
								<div class="form-group">
								    	<button type="submit" class="btn btn-danger">Guardar</button>
								</div>
							</div>
							<div class="col-md-2">	
								<div class="form-group">
								<!-- <button  class="btn btn-danger" name="next" type="button" ng-click="vm.limpiar()">Limpiar</button> -->
									<button  class="btn btn-danger" name="next" type="reset">Limpiar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
	<div th:replace="fragments/base :: footer" />
	<div th:replace="fragments/base :: js" />
	<script>
		var app = angular.module('myApp', ['ui.bootstrap','ngAnimate','ngResource','loader','authModule','toastr','ngLoadingOverlay']);
	</script>
	<script type="text/javascript" th:src="@{/public/app-utilities.js?id=2}"  src="../../public/app-utilities.js"></script>
    <script type="text/javascript" th:src="@{/private/gestion-financiera/carga-tasas/carga-tasas.js?id=2}"  src="../../private/gestion-financiera/carga-tasas/carga-tasas.js"></script>
</body>
</html>
